<h1>Actioncable Rails 5</h1>
<p>Chat</p>

<div id="messages">
  <%= render @messages %>
</div>


<form class=""  method="post">
  <label for="">Escribe tu mensaje :</label><br>
  <input type="text" data-behavior="room_speaker" name="name" value="">
</form>
